.search-result-file-matched-text {
color: #dedede;
    background-color: #be1e9685;
}


.cm-s-obsidian span.obsidian-search-match-highlight {
color: #dedede;
    background-color: #be1e9685;
}

.cm-s-obsidian span.cm-formatting-link {
    color: #00b0ff;
}


.markdown-preview-view h1, .markdown-preview-view h2, .markdown-preview-view h3, .markdown-preview-view h4, .markdown-preview-view h5, .markdown-preview-view h6 {
    margin: 10px 0;
}


.markdown-preview-view .collapse-indicator {
    color: #00b0ff;

}
.CodeMirror-guttermarker-subtle {
    color: #00b0ff;
}


.markdown-preview-view {
	font-weight: 300;
}
.markdown-source-view {
  font-weight: 300;
}


.theme-dark {
  --text-accent-hover: #ffc83f;
  --background-primary: #161b22;
  --background-primary-alt: #13161b;
  --background-secondary: #11161d;
  --background-secondary-alt: #0d1117;
  --background-accent: #000
  --background-modifier-border: #424958;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #15df6b;
  --background-modifier-error: #3d0000;
  --background-modifier-error-rgb: 61, 0, 0;
  --background-modifier-error-hover: #ff0f44;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #ffc83f;         /*Color de link4c78cc*/
 /* --text-accent: #ffc83f;         /*Color de link4c78cc*/*/
  --text-accent-hover: #ff5555;   /*Color link preview*/
  --text-normal: #dedede; /*#dcddde;*/
  --text-muted: #bbb;
    --text-faint: rgb(81, 86, 99);  /*botones de barra de heramientas 00b0ff*/
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(190, 30, 150, 0.7); /*Marcatextos*/
  --text-selection: rgba(0, 122, 255, 0.2);     /*texto seleccionado*/
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  --interactive-accent: #4c78cc;
  --interactive-accent-rgb: 76, 120, 204;
  --interactive-accent-hover: #5082df;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;

  --gray-1:           #5C6370;
  --red:              #ff0f44;
  --peach:            #ff5555;
  /* --font-family-editor: "Droid Sans", Anodina,"Noto Sans"; */
  /* --font-family-preview:"Droid Sans", Anodina,"Noto Sans"; */
  --aqua:             #078480;
  --purple:           #8c44aa;
  --blue:             #61afef;
  --green:            #15df6b;
  --orange:           #ffc83f;
  --magenta:          #ff2857;
  --altblue:          #0087ff;
  --cyan:             #00b0ff;
  --yellow:           #fccd11;
  --light-orange:     #ff693f;
  --lime:             #b2f711;
  --aquadark:         #0b4c5e;
  --lila:             #c90481;

  --text-title-h1:              #289aff;
  --text-title-h2:              #15df6b;
  --text-title-h3:              #0af7ff;
  --text-title-h4:              #F9F871;
  --text-title-h5:              #ff5757;
  --text-title-h6:              #ff3cd5;
}

  --background-primary: #fafafa;
  --background-primary-alt: #eaeaeb;
  --background-secondary: #eaeaeb;
  --background-secondary-alt: #dbdbdc;
  --background-accent: #fff;
  --background-modifier-border: #eaeaeb;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #A4E7C3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #FF9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #4c78cc;         /*Color de link*/
  --text-accent-hover: #ff5555;   /*Color link preview*/
  --text-normal: #46474a; /*#dcddde;*/
  --text-muted: #888;
  --text-faint: #00b0ff;  /*botones de barra de heramientas 00b0ff*/
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(140, 68, 170, 0.5); /*Marcatextos*/
  --text-selection: rgba(0, 122, 255, 0.2);     /*texto seleccionado*/
  --text-on-accent: #4c78cc;
  --interactive-normal: #ff5555;
  --interactive-hover: #ffb86c;
  --interactive-accent: #ff5555;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #ffb86c;
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #18191e;
  --gray-1:          #5C6370;
  --red:             #ff0f44;
  --peach:           #ff5555;
  --font-family-editor: Noto Sans;
  --font-family-preview: Noto Sans;
  --aqua:            #078480;
  --purple:          #8c44aa;
  --blue:            #3a69d8;
  --green:           #15df6b;
  --orange:          #ffc83f;
  --magenta:         #ff2857;
  --altblue:         #0087ff;
  --cyan:            #00b0ff;
  --yellow:          #fccd11;
  --light-orange:    #ff693f;
  --lime:            #b2f711;
  --aquadark:        #0b4c5e;
  --lila:            #c90481;

  --text-title-h1:              #ff2857;
  --text-title-h2:              #0087ff;
  --text-title-h3:              #15df6b;
  --text-title-h4:              #fccd11;
  --text-title-h5:              #0ddbff;
  --text-title-h6:              #c90481;
}

body {
  -webkit-font-smoothing: auto;


}

.search-result-file-title {
  color: var(--blue);
}

li {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.tag, .tag:hover {
  color: var(--green);
  background-color: var(--background-primary-alt);
  padding: 2px 4px;
  border-radius: 4px;
}

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  outline: none;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: pointer;
  vertical-align: baseline;
}

.markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--green);
}

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 14 14\'%3E%3Cpolygon points=\'5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039\'%3E%3C/polygon%3E%3C/svg%3E');
}

.nav-file-title, .nav-folder-title {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.nav-file-title-content, .nav-folder-title-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px !important;
  line-height: 26px;
}

blockquote {
  margin: 20px 0;
}

body {
  --font-monospace: 'monaco', 'FuraCode Nerd Font', 'Telegrama', 'Fira Code', 'Source Code Pro', monospace;

}

mjx-container[jax='CHTML'] {
  text-align: left;
  outline: none;
  font-size: 20px;
}

.cm-s-obsidian pre.HyperMD-codeblock,
/* .cm-s-obsidian span.cm-inline-code, */
.cm-s-obsidian span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end),
.markdown-preview-view code {
  color: var(--cyan); /*inherit*/
}

/* .cm-s-obsidian span.cm-inline-code, */
.cm-s-obsidian span.cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder {
  font-weight: 600;
  font-style: normal;
}

.markdown-preview-view code {
  vertical-align: text-center; /*-------------------------centrado de imagenes----------------------------*/
}

h1, h2, h3, h4, h5, h6, strong, b, .view-header-title {
  font-weight: 500;
	
}

.workspace > .workspace-split > .workspace-leaf:first-of-type:last-of-type .view-header {
  border: none;
}

.status-bar, .side-dock.mod-right, .side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  --bar-vertical-padding: 4px;
  --bar-height: calc(22px + (var(--bar-vertical-padding) * 2));
  line-height: 20px;
  padding: 0 20px;
  height: var(--bar-height);
  max-height: var(--bar-height);
  min-height: var(--bar-height);
  overflow: hidden;
}

.status-bar-item {
  margin: auto 0;
}

.status-bar-item > * {
  padding-top: var(--bar-vertical-padding) !important;
  padding-bottom: var(--bar-vertical-padding) !important;
}

.nav-file.is-active {
  --background-secondary-alt: var(--interactive-accent);
  --text-normal: #fffff;
}

.nav-file:not(.is-active):hover .nav-file-title,
.nav-folder:hover .nav-folder-content {
  background-color: transparent;
}

.side-dock-plugin-panel-inner {
  padding-left: 6px;
}

a,
.markdown-preview-view .internal-link {
  text-decoration: none;
}

a:hover,
.markdown-preview-view .internal-link:hover {
  text-decoration: underline;
}

.theme-dark :not(pre) > code[class*='language-'],
.theme-dark pre[class*='language-'] {
  background: var(--background-primary-alt);
}

.theme-light :not(pre) > code[class*='language-'],
.theme-light pre[class*='language-'] {
  background: var(--background-primary);
  box-shadow: inset 0 0 0 1px var(--background-primary-alt);
  border-radius: 4px;
}

.markdown-preview-view blockquote {
  border-radius: 4px;
}

.markdown-preview-view .markdown-embed,
.markdown-preview-view .file-embed {
  margin: 0;
  border-radius: 4px;
}

.theme-light .token.operator,
.theme-light .token.entity,
.theme-light .token.url,
.theme-light .language-css .token.string,
.theme-light .style .token.string {
  background: transparent;
}


body:not(.is-grabbing) .nav-file:not(.is-active) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder:not(.is-active) .nav-folder-title:hover {
  --text-normal: var(--peach);
  --background-secondary-alt: var(--background-secondary);
}

/* Source: https://github.com/AGMStudio/prism-theme-one-dark */

code[class*='language-'],
pre[class*='language-'] {
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em !important;
  margin: .5em 0 !important;
  overflow: auto !important;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: .1em !important;
  border-radius: .3em !important;
  white-space: normal !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--gray-1) !important;
}

/*.token.punctuation {
  color: var(--red) !important;
}*/

.token.selector,
.token.tag {
  color: var(--magenta) !important;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
  color: var(--orange) !important;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
  color: var(--green) !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--altblue) !important;
}

.token.atrule,
.token.keyword {
  color: var(--purple) !important;
}

.token.function,
.token.macro.property {
  color: var(--blue) !important;
}

.token.class-name {
  color: var(--yellow) !important;
}

.token.regex,
.token.important,
.token.variable {
  /*color: var(--purple) !important;*/
  color: #44ab7b !important;
 
}

.token.important,
.token.bold {
  font-weight: bold !important;
}

.token.italic {
  font-style: italic !important;
}

.token.entity {
  cursor: help !important;
}

pre.line-numbers {
  position: relative !important;
  padding-left: 3.8em !important;
  counter-reset: linenumber !important;
}

pre.line-numbers > code {
  position: relative !important;
}

.line-numbers .line-numbers-rows {
  position: absolute !important;
  pointer-events: none !important;
  top: 0 !important;
  font-size: 100% !important;
  left: -3.8em !important;
  width: 3em !important; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px !important;
  border-right: 0 !important;

  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.line-numbers-rows > span {
  pointer-events: none !important;
  display: block !important;
  counter-increment: linenumber !important;
}

.line-numbers-rows > span:before {
  content: counter(linenumber) !important;
  color: var(--syntax-gray-1) !important;
  display: block !important;
  padding-right: 0.8em !important;
  text-align: right !important;
}


/* code */
.cm-s-obsidian span.cm-inline-code,
code {
    color: var(--cyan);
}
pre code {
    color: var(--cyan);
}


/* font for everything outside of editor/preview panes */
.app-container
{
  font-family: var(--font-family-preview);
}

.status-bar-item
{
  font-family: var(--font-family-preview);
  font-size: 12px;
}

/******************/
/* editor section */
/******************/

/* normal text outside of headings and code */
/*.cm-s-obsidian
{
  font-family: var(--font-family-editor);
  font-size: 15px;
  color: var(--text-normal);
  padding-left: 10% !important;
  padding-right: 10% !important;
}
*/
.mod-single-child .cm-s-obsidian
{
  font-family: var(--font-family-editor);
  font-size: 15px;
  color: var(--text-normal);
  padding-left: 20% !important;
  padding-right: 20% !important;
}

/* headings */
.cm-header-1
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: 28px;
  color: var(--text-title-h1);
}

.cm-header-2
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-title-h2);
}

.cm-header-3
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: 22px;
  font-weight: bold;
  color: var(--text-title-h3);
}

.cm-header-4
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-title-h4);
}

.cm-header-5
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-title-h5);
}

.cm-header-6
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-title-h6);
}

/******************/
/* preview section */
/******************/

/* normal text outside of headings and code */
/*
.markdown-preview-view
{
  font-family: var(--font-family-preview);
  font-size: 15px;
  color: var(--text-normal);
  padding-left: 10% !important;
  padding-right: 10% !important;
}
*/ 
.mod-single-child .markdown-preview-view
{
  font-family: var(--font-family-preview);
  font-size: 15px;
  color: var(--text-normal);
  padding-left: 20% !important;
  padding-right: 20% !important;
}


/* headings */

.markdown-preview-view h1
{
  font-family: var(--font-family-preview);
  font-weight: 600;
  font-size: 28px;
  color: var(--text-title-h1);
  margin-top: 5px;

}

.markdown-preview-view h2
{
  font-family: var(--font-family-preview);
  font-weight: 600;
  font-size: 26px;
  color: var(--text-title-h2);
}

.markdown-preview-view h3
{
  font-family: var(--font-family-preview);
  font-weight: 600;
  font-size: 22px;
  color: var(--text-title-h3);
}

.markdown-preview-view h4
{
  font-family: var(--font-family-preview);
  font-weight: 600;
  font-size: 20px;
  color: var(--text-title-h4);
}

.markdown-preview-view h5
{
  font-family: var(--font-family-preview);
  font-weight: 600;
  font-size: 18px;
  color: var(--text-title-h5);
}

.markdown-preview-view h6
{
  font-family: var(--font-family-preview);
  font-weight: 600;
  font-size: 16px;
  color: var(--text-title-h6);
}


/* internal embedded link rendering in preview */
.markdown-embed-title
{
  font-weight: 600;
}

.markdown-embed
{
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

/* remove secondary scroll bar in editor that comes from adding variable padding */
.CodeMirror-scroll::-webkit-scrollbar {
    display: none;
}

/* to have sidebar hide and then reveal on hover
.app-container.is-left-sidedock-collapsed .side-dock.mod-left:not(:hover), .app-container.is-right-sidedock-collapsed .side-dock.mod-right:not(:hover) {
  width: 0px !important;
}
*/

/*
div[data-path='0attachments'], 
div[data-path='0attachments'] + div.nav-folder-children 
{
    display: none;
}

